// variables
	$logoWidth: 25%;
	$logoMinWidth: 10rem;

	$searchFormWidth: 40%;
	$searchFormMinWidth: 40rem;

	$mapButtonWidth: 20%;
	$mapButtonMinWidth: 20rem;

header { 
	padding: 2rem 0 5rem;
	background-color: $secondaryBackground;
	color: $white;
}

.topBar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;

}

.logo {
	width: $logoWidth;
	min-width: $logoMinWidth;
	// border: 1px solid red;
	// padding-right: 1rem;

	display: flex;
	// flex-direction: column;
	justify-content: center;

	position: relative;

	padding: 5rem 0;
}

.tagline {
	position: absolute;
	top: 12rem;
	height: 3.8rem;
	// width: 80%;

	display: flex;
	justify-content: center;
	// align-items: center;
}

h1 {
	color: #D40242;

	background-color: $white;

	padding: 1rem 2rem;
	// margin-right: 4rem;

	border-radius: 2rem;

	display: inline;

	height: 100%;

	overflow: hidden;

	span {
		// color: #1F5673;
		color: #032541;
	}

	a {
		padding: 1rem 2rem;
		margin: -1rem -2rem;
	}
}



.form__search {
	width: $searchFormWidth;
	width: $searchFormMinWidth;

	// padding-left: 1rem;
	
	// prevent resizing when toggling between movie and tv
	#genres { min-width: 160px; }

}

.commuteTime {
	width: $mapButtonWidth;
	min-width: $mapButtonMinWidth;
	text-align: right;
}

.search__time {
	position: relative;

	.floatLabel-container {
		width: 20%;
	}
}

.directions {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	// right: 0;

}