@media (max-width: 1024px) {
	// header

	.logo {
		width: 100%;
		padding: 2rem 0 6rem;
	}

	.tagline {
		top: 9rem;
	}

	.directions {
		justify-content: space-between;

		right: calc(-3rem - 3vw);

		iframe {
			width: 50vw;
		}
	}
}