@media (max-width: 768px) {

	// header
	.button__commute {
		margin-top: 5rem;
	}

	.commuteTime {
		text-align: center;
		position: static;
	}

	.directions {
		right: 5vw;

		flex-direction: column;

		iframe {
			width: 70vw;
		}
	}

	.map-container {
		margin-left: 0;
	}



	// main

	main {
    .content {
      flex-direction: column-reverse;
      
      .mediaResults,
      .sidebar {
        width: 100%;
      }
      
      .mediaResults {
        margin-right: 0;
        margin-top: 2rem;
      }
      
      .sidebar {
        
        &__content {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
          gap: 1rem;
          justify-items: center;
        }

        .showList__media {
          grid-template-columns: minmax(140px, 180px);
        }
      }
    }
	}
	



}