@media (max-width: 480px) {
	
	// header

	.search__options {
		flex-wrap: wrap;

			div {
				display: flex;
				justify-content: center;
			}

			.genre {
				width: 100%;
			}

			.floatLabel-container {
				width: 30%;
			}
	}
	
	.search__time {
		flex-wrap: wrap;

		.floatLabel-container {
			width: 30%;
		}

		button {
			margin-top: 4rem;

			width: 100%;
		}

		.instruction {
			left: auto;
			bottom: 5.5rem;

			text-align: center;
		}
	}

	.commuteTime {	
		display: flex;
		justify-content: center;
		align-items: center;
	}


	.button__commute {
		width: 30%;

		margin-top: 2rem;

		p {
			display: none;
		}
	}


  .button__list--add {
    font-size: 1.2rem;
  }  
  .mediaResults__content {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;

  }


}