.button{
	&__primary {
		font-size: 1.8rem;
		letter-spacing: 0.05em;

		background-color: $buttonColor;
		color: $secondaryBackground;

		border: 2px solid $buttonColor;
		border-radius: 1rem;

		padding: 0.8rem 2.4rem;

		text-transform: uppercase;
		transition: background-color 0.3s;

		&:hover,
		&:focus {
			// border: 2px solid $buttonHover;
			background-color: $buttonHover;
		}

		&:active {
			background-color: $buttonActive;
		}
	}

  &__commute {
		width: 18rem;

		padding: 1rem;
		
		background-color: $white;
		color: $secondaryBackground;
		border: 2px solid $white;
		border-radius: 2rem;

		&:focus,
		&:hover {
			border: 2px solid $buttonHover;
			background-color: $primaryBackground;
		}

		&:active {
			background-color: $buttonHover;
		}
	}

	&__map {
		z-index: 200;
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		// justify-self: flex-end;
		// align-self: flex-end;

		&:hover,
		&:focus {
			opacity: 60%;
		}
	}

	&__list {
		border-color: transparent;
    color: $white;
		padding: 0.4rem 0.8rem;
		
		&--add {
			font-size: 1.4rem;
			background-color: #032541;
		}

		&--added {
			font-size: 1.4rem;
			background-color: darken(#D40242, 10%);
		}

		&--remove {
			background-color: darken(#D40242, 10%);
		}
	}
}