// Float label css inspired by https://css-tricks.com/float-labels-css/

form {
  width: 320px;
  float: left;
	margin: 20px;
	
  > div {
    position: relative;
    overflow: hidden;
	}
	
	input[type="number"],
	input[type="text"] {
    width: 100%;
    border: 2px solid gray; 
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 12px; 
		outline: 0;
		
    &:valid {
      // Hides the label
      background: white;
    }
    &:focus {
      border-color: #f06d06;
    }
    &:focus + .label__float {
      background: #f06d06;
      color: white;
      font-size: 70%;
      padding: 4px 6px 20px 6px; 
      z-index: 2;
			text-transform: uppercase;
			
			top: 100%;
    	margin-top: -16px;
    }
	}
	
  .label__float {
    transition: // not padding
      background 0.2s,
      color 0.2s,
      top 0.2s,
      bottom 0.2s,
      right 0.2s,
      left 0.2s;
    position: absolute;
    color: #999;
		padding: 7px 6px;

		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}
