
.commuteTime {
	position: relative;
}

.directions {
	color: $black;

	z-index: 90;

	background-color: $primaryBackground;
	border-radius: 1rem;

	box-shadow: -2px 2px 10px $shadow;

	position: absolute;
	right: 0;

	display: flex;

	padding: 2rem;

	&.hidden {
		display: none;
	}
}

.map-container {
	margin-left: 2rem;
}

.map {
	display: flex;
	justify-content: flex-end;

	position: relative;
	z-index: 100;

	padding-top: 30px;
}

h2 {
	font-size: 1.8rem;
}
