.mediaResults {
  border: 2px solid #032541;
	border-radius: 5px;

	background-color: $searchBackground;

  &__top {
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
    // overflow: hidden;
  }

  &__heading {
		background-color: #032541;
		padding: 0.6rem 0;
		color: $white;
    text-align: center;
    // text-transform: uppercase;
    // letter-spacing: 1px;
	}
  
  &__content {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
  }

  &__container > *:not(:last-child) { margin-bottom: .5rem; }
  
  .imageContainer {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }

  &__title {
    font-size: 1.8rem;
    height: 3.6rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__runtime {
    font-family: $secondaryFont;
  }


  &__moreInfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.3s;

    &:hover,
    &:focus { 
      opacity: 1; 
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    
  }
}