.sidebar {
	border: 2px solid $accent1;
	border-radius: 5px;

	background-color: $listBackground;
	// padding: 1rem 1rem;
	// width: 25%;

	// margin: 0 0 0 auto;
	// float: right;

	height: 100%;

	&__content {
		padding: 1rem 1rem 0;
	}

	&__title {
		background-color: $accent1;
		padding: 0.6rem 0;
		color: $white;
		text-align: center;
	}

	&__time {
		// padding: 0 1rem;
		// margin-top: 0.8rem;
		span { color: $black;}
	}

	&__text {
		padding-bottom: 1rem;

		text-align: center;
	}
		
}