.sidebar {
	border: 2px solid $accent1;
	border-radius: 5px;

	background-color: $listBackground;

	height: 100%;

	&__content {
		padding: 1rem 1rem 0;
	}

	&__title {
		background-color: $accent1;
		padding: 0.6rem 0;
		color: $white;
		text-align: center;
	}

	&__time {

		span {
			color: $black;
		}
	}

	&__text {
		padding-bottom: 1rem;

		text-align: center;
	}
}