body {
	font-family: $primaryFont;
}

h1 {
	// font-family: $secondaryFont;
	font-size: 3.5rem;

	span {
		font-family: $secondaryFont;
	}
}


.tagline {
	font-size: 1.8rem;
	text-align: center;
}


h2 {
	font-size: 2rem;
}

button {
	letter-spacing: 0.05em;
	text-transform: uppercase;
}