// Wrapper width
$wrapperMaxWidth: 1400px;
$wrapperWidth: 85%;

// background colours
$primaryBackground: #f3f2f0;
$secondaryBackground: #032541;

$searchBackground: #e5e8eb;
$listBackground: #ebe5e5;

$footerBackground: #272933;

// font colours + pseudo states
$black: #2C2C2C;
$white: #FAFFFE;
$grey: grey;
$accent1: #D40242;

$shadow: #00000070;

$buttonColor: #f6b44a;
$buttonHover: lighten(#f6b44a, 10);
$buttonActive: darken(#f6b44a, 10);

$button--add: #032541;
$button--addHover: lighten(#032541, 10);
$button--addActive: lighten(#032541, 20);

$button--added: #D40242;
$button--addedHover: darken(#D40242, 10);
$button--addedActive: darken(#D40242, 20);

$floatLabel: #1F5673;

// font stacks
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Abel', sans-serif;