// variables

// Wrapper width
$wrapperMaxWidth: 1400px;
$wrapperWidth: 85%;

// background colours
$primaryBackground: #f3f2f0;
// $secondaryBackground: lighten(#50E3C2, 30);
// $footerBackground: #2C2C2C;


// font colours + pseudo states
$black: #2C2C2C;
$white: #FAFFFE;
$grey: grey;
// $accent1: #50E3C2;
// $accent2: #063974;
// $accent3: #0C5F4C;

$buttonColor: #f6b44a;
$buttonHover: darken(#f6b44a, 20);

$floatLabel: #f06d06;

// font stacks
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Abel', sans-serif;


// dimensions
	