html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

address {
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

select {
  font-family: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h1 span {
  font-family: "Abel", sans-serif;
}

.tagline {
  font-size: 1.8rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

button {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.button__primary {
  font-size: 1.8rem;
  letter-spacing: 0.05em;
}

form {
  line-height: 1.4;
}

.wrapper {
  margin: 0 auto;
  width: 85%;
  max-width: 1400px;
}

body {
  background-color: #f3f2f0;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.attention {
  color: #D40242 !important;
}

.pageContainer {
  position: relative;
  min-height: 100vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

header {
  padding: 2rem 0 5rem;
  background-color: #032541;
  color: #FAFFFE;
}

.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  width: 25%;
  min-width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 5rem 0;
}

.tagline {
  position: absolute;
  top: 12rem;
  height: 3.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  color: #D40242;
  border-radius: 2rem;
  background-color: #FAFFFE;
  padding: 1rem 2rem;
  height: 100%;
  display: inline;
}

h1 span {
  color: #032541;
}

h1 a {
  padding: 1rem 2rem;
  margin: -1rem -2rem;
  border-radius: 2rem;
}

.form__search {
  width: 40%;
  width: 40rem;
}

.commuteTime {
  width: 20%;
  min-width: 20rem;
  text-align: right;
}

.search__time {
  position: relative;
}

.search__time .floatLabel-container {
  width: 20%;
}

.directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
}

main {
  padding-bottom: 11rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
}

.content > :first-child {
  margin-right: 2rem;
}

.mediaResults {
  width: 75%;
}

.sidebar {
  width: 25%;
}

footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  color: #FAFFFE;
  background-color: #272933;
}

.copyright-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
}

.copyright-container a {
  text-decoration: underline;
}

.copyright-container a:hover, .copyright-container a:focus {
  opacity: 60%;
}

form .floatLabel-container {
  position: relative;
  overflow: hidden;
}

form input[type="number"],
form input[type="text"] {
  width: 100%;
  border: none;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1.2rem;
  outline: 0;
}

form input[type="number"]:focus,
form input[type="text"]:focus {
  border-color: #1F5673;
  padding: 0.4rem 0.6rem 2rem;
}

form input[type="number"]:focus + .label__float,
form input[type="text"]:focus + .label__float {
  background: #1F5673;
  color: #FAFFFE;
  font-size: 70%;
  padding: 0.1rem 0.6rem;
  z-index: 2;
  text-transform: uppercase;
  top: 100%;
  margin-top: -16px;
  opacity: 1;
}

form input[type="number"]:focus::-webkit-input-placeholder,
form input[type="text"]:focus::-webkit-input-placeholder {
  opacity: 0;
}

form input[type="number"]:focus:-ms-input-placeholder,
form input[type="text"]:focus:-ms-input-placeholder {
  opacity: 0;
}

form input[type="number"]:focus::-ms-input-placeholder,
form input[type="text"]:focus::-ms-input-placeholder {
  opacity: 0;
}

form input[type="number"]:focus::placeholder,
form input[type="text"]:focus::placeholder {
  opacity: 0;
}

form input[type="number"] + .label__float,
form input[type="text"] + .label__float {
  -webkit-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.form__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__search .instruction {
  position: absolute;
  bottom: -2.7rem;
  left: 5%;
  width: 20rem;
}

.form__search input[type="number"],
.form__search input[type="text"] {
  color: #FAFFFE;
  border-bottom: 2px solid #FAFFFE;
}

.form__search input[type="number"]::-webkit-input-placeholder,
.form__search input[type="text"]::-webkit-input-placeholder {
  color: #FAFFFE;
  opacity: 70%;
}

.form__search input[type="number"]:-ms-input-placeholder,
.form__search input[type="text"]:-ms-input-placeholder {
  color: #FAFFFE;
  opacity: 70%;
}

.form__search input[type="number"]::-ms-input-placeholder,
.form__search input[type="text"]::-ms-input-placeholder {
  color: #FAFFFE;
  opacity: 70%;
}

.form__search input[type="number"]::placeholder,
.form__search input[type="text"]::placeholder {
  color: #FAFFFE;
  opacity: 70%;
}

.form__search .search__time,
.form__search .search__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__search .search__options {
  width: 100%;
  margin-bottom: 1rem;
}

.form__search .search__time .button__primary {
  margin-left: 1rem;
  width: 18rem;
}

.form__directions {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__directions input[type="number"],
.form__directions input[type="text"] {
  color: #2C2C2C;
  border-bottom: 2px solid #2C2C2C;
}

.form__directions input[type="number"]::-webkit-input-placeholder,
.form__directions input[type="text"]::-webkit-input-placeholder {
  color: #2C2C2C;
  opacity: 70%;
}

.form__directions input[type="number"]:-ms-input-placeholder,
.form__directions input[type="text"]:-ms-input-placeholder {
  color: #2C2C2C;
  opacity: 70%;
}

.form__directions input[type="number"]::-ms-input-placeholder,
.form__directions input[type="text"]::-ms-input-placeholder {
  color: #2C2C2C;
  opacity: 70%;
}

.form__directions input[type="number"]::placeholder,
.form__directions input[type="text"]::placeholder {
  color: #2C2C2C;
  opacity: 70%;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="radio"] + label {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  background-color: #FAFFFE;
  color: #032541;
  border: 2px solid #FAFFFE;
  border-radius: 3rem;
  padding: 0.5rem;
  margin: 0 1rem;
  width: 7rem;
}

input[type="radio"] + label p {
  font-size: 1.2rem;
}

input[type="radio"]:checked + label {
  border: 2px solid #D40242;
}

input[type="radio"]:focus + label,
input[type="radio"]:hover + label {
  background-color: #f3f2f0;
}

input[type="radio"]:focus + label {
  outline: 1px dotted grey;
}

select {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: none;
  border-radius: 1rem;
  width: 18rem;
}

.button__primary {
  background-color: #f6b44a;
  color: #032541;
  border: 2px solid #f6b44a;
  border-radius: 1rem;
  padding: 0.8rem 2.4rem;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button__primary:hover, .button__primary:focus {
  background-color: #f8c87b;
}

.button__primary:active {
  background-color: #f4a019;
}

.button__commute {
  width: 18rem;
  padding: 1rem;
  background-color: #FAFFFE;
  color: #032541;
  border: 2px solid #FAFFFE;
  border-radius: 2rem;
}

.button__commute:focus, .button__commute:hover {
  border: 2px solid #f8c87b;
  background-color: #f3f2f0;
}

.button__commute:active {
  background-color: #f8c87b;
}

.button__map {
  z-index: 200;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.button__map:hover, .button__map:focus {
  opacity: 60%;
}

.button__list {
  border-color: transparent;
  color: #FAFFFE;
  padding: 0.4rem 0.8rem;
}

.button__list--add {
  font-size: 1.4rem;
  background-color: #032541;
}

.button__list--add:hover, .button__list--add:focus {
  background-color: #054172;
}

.button__list--add:active {
  background-color: #085da3;
}

.button__list--added, .button__list--remove {
  font-size: 1.4rem;
  background-color: #D40242;
}

.button__list--added:hover, .button__list--added:focus, .button__list--remove:hover, .button__list--remove:focus {
  background-color: #a10232;
}

.button__list--added:active, .button__list--remove:active {
  background-color: #6f0123;
}

.commuteTime {
  position: relative;
}

.directions {
  color: #2C2C2C;
  z-index: 90;
  background-color: #f3f2f0;
  border-radius: 1rem;
  -webkit-box-shadow: -2px 2px 10px #00000070;
          box-shadow: -2px 2px 10px #00000070;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

.directions.hidden {
  display: none;
}

.map-container {
  margin-left: 2rem;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 100;
  padding-top: 30px;
}

h2 {
  font-size: 1.8rem;
}

.mediaResults {
  border: 2px solid #032541;
  border-radius: 5px;
  background-color: #e5e8eb;
}

.mediaResults__heading {
  background-color: #032541;
  padding: 0.6rem 0;
  color: #FAFFFE;
  text-align: center;
}

.mediaResults__content {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
}

.mediaResults__container > *:not(:last-child) {
  margin-bottom: .5rem;
}

.mediaResults .imageContainer {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.mediaResults__title {
  font-size: 1.8rem;
  height: 3.6rem;
}

.mediaResults__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.mediaResults__runtime {
  font-family: "Abel", sans-serif;
}

.mediaResults__moreInfo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.mediaResults__moreInfo:hover, .mediaResults__moreInfo:focus-within {
  opacity: 1;
}

.mediaResults__moreInfo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #FAFFFE;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mediaResults__moreInfo i {
  padding-left: 0.5rem;
}

.sidebar {
  border: 2px solid #D40242;
  border-radius: 5px;
  background-color: #ebe5e5;
  height: 100%;
}

.sidebar__content {
  padding: 1rem 1rem 0;
}

.sidebar__title {
  background-color: #D40242;
  padding: 0.6rem 0;
  color: #FAFFFE;
  text-align: center;
}

.sidebar__time span {
  color: #2C2C2C;
}

.sidebar__text {
  padding-bottom: 1rem;
  text-align: center;
}

.showList > *:not(:last-child) {
  margin-bottom: 1rem;
}

.showList__media {
  padding: 1rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showList__media .imageContainer {
  position: relative;
}

.showList__media .imageContainer button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  font-size: 2rem;
  border-bottom-left-radius: 5px;
  border-color: #032541;
}

.showList__media .imageContainer button:hover, .showList__media .imageContainer button:active, .showList__media .imageContainer button:focus {
  border-color: transparent;
}

.showList__media .mediaResults__moreInfo {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.showList__media .mediaResults__moreInfo span {
  font-size: 2rem;
}

.showList__media__info {
  font-size: 1.4rem;
}

.showList__media__info > *:not(:last-child) {
  margin-bottom: .5rem;
}

.showList__media__info h3 {
  font-size: 1.6rem;
}

.showList__runtime {
  font-family: "Abel", sans-serif;
}

@media (max-width: 1024px) {
  .logo {
    width: 100%;
    padding: 2rem 0 6rem;
  }
  .tagline {
    top: 9rem;
  }
  .directions {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    right: calc(-3rem - 3vw);
  }
  .directions iframe {
    width: 50vw;
  }
}

@media (max-width: 768px) {
  .button__commute {
    margin-top: 5rem;
  }
  .commuteTime {
    text-align: center;
    position: static;
  }
  .directions {
    right: 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .directions iframe {
    width: 70vw;
  }
  .map-container {
    margin-left: 0;
  }
  main .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .content .mediaResults,
  main .content .sidebar {
    width: 100%;
  }
  main .content .mediaResults {
    margin-right: 0;
    margin-top: 2rem;
  }
  main .content .sidebar__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(140px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
    justify-items: center;
  }
  main .content .sidebar .showList__media {
    -ms-grid-columns: minmax(140px, 180px);
        grid-template-columns: minmax(140px, 180px);
  }
}

@media (max-width: 480px) {
  .search__options {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .search__options div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search__options .genre {
    width: 100%;
  }
  .search__options .floatLabel-container {
    width: 30%;
  }
  .search__time {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .search__time .floatLabel-container {
    width: 30%;
  }
  .search__time button {
    margin-top: 4rem;
    width: 100%;
  }
  .search__time .instruction {
    left: auto;
    bottom: 5.5rem;
    text-align: center;
  }
  .commuteTime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button__commute {
    width: 30%;
    margin-top: 2rem;
  }
  .button__commute p {
    display: none;
  }
  .button__list--add {
    font-size: 1.2rem;
  }
  .mediaResults__content {
    -ms-grid-columns: (minmax(140px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
  }
}
